In [1]:
import os

base_url = 'https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/'
anime_csv = os.path.join(base_url, 'anime.csv')

print(anime_csv)

https://raw.githubusercontent.com/practical-jupyter/sample-data/master/anime/anime.csv

In [2]:
import pandas as pd

pd.read_csv(anime_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [32]:
# 인덱스로 할 열을 열 이름으로 지정
df = pd.read_csv(anime_csv, index_col='anime_id')
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [33]:
df = pd.read_csv(anime_csv, dtype={'members':float})
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [3]:
anime_master_csv = os.path.join(base_url, 'anime_master.csv')
pd.read_csv(anime_master_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama',"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [4]:
anime_split_genre_csv = os.path.join(base_url, 'anime_split_genre.csv')
pd.read_csv(anime_split_genre_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,20707,"""0""",Music,Music,1,5.06,1170
1,25627,"""Aesop"" no Ohanashi yori: Ushi to Kaeru, Yokub...",Kids,Movie,1,5.00,113
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
3,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
4,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351

In [5]:
anime_genre_top10_csv = os.path.join(base_url, 'anime_genre_top10.csv')
pd.read_csv(anime_genre_top10_csv).head()

,anime_id,name,genre,type,episodes,rating,members
0,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Comedy,OVA,1,7.06,14351
1,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",School,OVA,1,7.06,14351
2,7669,"""Bungaku Shoujo"" Kyou no Oyatsu: Hatsukoi",Fantasy,OVA,1,7.06,14351
3,8481,"""Bungaku Shoujo"" Memoire",School,OVA,3,7.54,18013
4,8481,"""Bungaku Shoujo"" Memoire",Drama,OVA,3,7.54,18013

In [7]:
anime_genre_top10_pivoted_csv = os.path.join(base_url, 'anime_genre_top10_pivoted.csv')
pd.read_csv(anime_genre_top10_pivoted_csv).head()

,genre,Movie,Music,ONA,OVA,Special,TV
0,Comedy,7293127.0,20860.0,1477266.0,5614758.0,6659293.0,65420862.0
1,Action,10224960.0,77054.0,524907.0,5793680.0,3412689.0,63364032.0
2,Drama,9034099.0,100734.0,188427.0,3043374.0,1915578.0,41011557.0
3,Romance,5245386.0,42811.0,411331.0,3143167.0,2015820.0,40703388.0
4,Supernatural,5452779.0,9189.0,192989.0,2696715.0,2336723.0,38956520.0

In [8]:
anime_stock_price_csv = os.path.join(base_url, 'anime_stock_price.csv')
# index_col 에 열 번호 지정하여 대상열을 레이블로 함
# parse_dates에 열명을 리스트로 지정해서 로딩할 때 datetime으로 취급
pd.read_csv(anime_stock_price_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION  IG Port
Date
2015-01-01         3356.86  1201.51
2015-01-02         3356.86  1201.51
2015-01-05         3396.12  1218.44
2015-01-06         3361.77  1201.51
2015-01-07         3297.97  1202.51

In [9]:
anime_stock_returns_csv = os.path.join(base_url, 'anime_stock_returns.csv')
pd.read_csv(anime_stock_returns_csv, index_col=0, parse_dates=['Date']).head()

            TOEI ANIMATION   IG Port
Date
2015-01-01        1.000000  1.000000
2015-01-02        1.000000  1.000000
2015-01-05        1.011695  1.014082
2015-01-06        1.001463  1.000000
2015-01-07        0.982457  1.000824

In [10]:
t4816_csv = os.path.join(base_url, '4816.csv')
pd.read_csv(t4816_csv, index_col=0, parse_dates=['Date']).head()

              Open    High     Low   Close   Volume
Date
2010-01-04  1600.0  1600.0  1580.0  1597.0   5600.0
2010-01-05  1597.0  1605.0  1590.0  1600.0  14800.0
2010-01-06  1600.0  1602.0  1579.0  1601.0   8300.0
2010-01-07  1600.0  1600.0  1590.0  1595.0   3700.0
2010-01-08  1599.0  1601.0  1595.0  1600.0  32300.0

In [34]:
anime_xlsx = os.path.join(base_url, 'anime.xlsx')
df = pd.read_excel(anime_xlsx)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
2,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
4,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193

In [11]:
ser = pd.Series([1,2,3], index=['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [16]:
ser.loc['b']

ser['b']
ser.loc['b':'c']

ser.loc[['a','c']]

a    1
c    3
dtype: int64

In [17]:
ser.iloc[1]

2

In [18]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [19]:
ser.loc[[True, False, True]]

a    1
c    3
dtype: int64

In [20]:
ser != 2

a     True
b    False
c     True
dtype: bool

In [21]:
ser.loc[ser!=2]

a    1
c    3
dtype: int64

In [22]:
df = pd.DataFrame(
    [[1,10,100], [2,20,200], [3,30,300]],
    index=['r1','r2','r3'],
    columns=['c1','c2','c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [23]:
df.loc['r2','c2']

20

In [24]:
df.loc['r2',:]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [25]:
df.loc[:,'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [26]:
df.loc[['r1','r3'],'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [27]:
df.iloc[1:3, [0,2]]

    c1   c3
r2   2  200
r3   3  300

In [28]:
df['c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [29]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [30]:
df.loc[df['c2']>10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [31]:
df.loc[(df['c1']>1)&(df['c3']<300)]

    c1  c2   c3
r2   2  20  200

In [36]:
from urllib.request import urlopen
import sqlite3

anime_db = os.path.join(base_url, 'anime.db')
res = urlopen(anime_db)
with open('anime.db', 'wb') as f:
    f.write(res.read())
    with sqlite3.connect(f.name) as conn:
        df = pd.read_sql('SELECT * FROM anime', conn)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [37]:
url = 'https://docs.python.org/3/py-modindex.html'

tables = pd.read_html(url, index_col=1)
tables[0].loc[:,1:].dropna().head(10) # 첫 번째 DataFrame 에서 빈 열과 결손값 제외

                                                               2
1
__future__                          Future statement definitions
__main__       The environment where the top-level script is ...
_dummy_thread        Drop-in replacement for the _thread module.
_thread                                 Low-level threading API.
abc                 Abstract base classes according to PEP 3119.
aifc           Read and write audio files in AIFF or AIFC for...
argparse       Command-line option and argument parsing library.
array          Space efficient arrays of uniformly typed nume...
ast               Abstract Syntax Tree classes and manipulation.
asynchat       Support for asynchronous command/response prot...

In [54]:
df = pd.read_csv(anime_csv) 

df.loc[df['episodes']=='Unknown'].head()

,anime_id,name,genre,type,episodes,rating,members
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
248,235,Detective Conan,"Adventure, Comedy, Mystery, Police, Shounen",TV,Unknown,8.25,114702
607,1735,Naruto: Shippuuden,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,Unknown,7.94,533578
993,33157,Tanaka-kun wa Itsumo Kedaruge Specials,"Comedy, School, Slice of Life",Special,Unknown,7.72,5400
1226,21639,Yu☆Gi☆Oh! Arc-V,"Action, Fantasy, Game, Shounen",TV,Unknown,7.61,17571

In [56]:
df.where(df['rating']<9.2).head()

,anime_id,name,genre,type,episodes,rating,members
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9253.0,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969.0,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [57]:
import numpy as np

# 값 변경하기
df.loc[74, 'episodes'] = np.nan
df.loc[74, 'episodes'] # nan 
df.loc[74, :]

anime_id                                                  801
name          Ghost in the Shell: Stand Alone Complex 2nd GIG
genre       Action, Mecha, Military, Mystery, Police, Sci-...
type                                                       TV
episodes                                                  NaN
rating                                                   8.57
members                                                113993
Name: 74, dtype: object

In [64]:
df.loc[df['episodes'] == 'Unknown', 'episodes'] = np.nan

In [58]:
df.loc[df['episodes'].isnull()].head()

,anime_id,name,genre,type,episodes,rating,members
74,801,Ghost in the Shell: Stand Alone Complex 2nd GIG,"Action, Mecha, Military, Mystery, Police, Sci-...",TV,NaN,8.57,113993

In [59]:
df.dropna().loc[70:].head()

,anime_id,name,genre,type,episodes,rating,members
70,578,Hotaru no Haka,"Drama, Historical",Movie,1,8.58,174878
71,16894,Kuroko no Basket 2nd Season,"Comedy, School, Shounen, Sports",TV,25,8.58,243325
72,5028,Major S5,"Comedy, Drama, Romance, Sports",TV,25,8.58,28653
73,21,One Piece,"Action, Adventure, Comedy, Drama, Fantasy, Sho...",TV,Unknown,8.58,504862
75,31933,JoJo no Kimyou na Bouken: Diamond wa Kudakenai,"Action, Adventure, Comedy, Drama, Shounen, Sup...",TV,39,8.57,74074

In [51]:
df['anime_id'].dtype

dtype('int64')

In [52]:
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [65]:
pd.options.display.max_rows = 10 # pandas 에서 표시하는 행 수를 설정
df.dropna(inplace=True)
df['episodes'].astype(np.int64)

0         1
1        64
2        51
3        24
4        51
         ..
10272     1
10273    23
10274     1
10275     1
10276    32
Name: episodes, Length: 10075, dtype: int64

In [61]:
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [66]:
df.astype({'episodes' : np.int64, 'rating':np.float64})
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes     object
rating      float64
members       int64
dtype: object

In [67]:
# 형 변환 후의 값 대입
df['episodes'] = df['episodes'].astype(np.int64)
df.dtypes

anime_id      int64
name         object
genre        object
type         object
episodes      int64
rating      float64
members       int64
dtype: object

In [68]:
type(df['anime_id'])

pandas.core.series.Series